body{
    background-color: white;
    width: 20px;
    height: 10px;
}

inputteam{
    background-color: grey;
    width: 10px;
    height: 20px;

}

selectData{
    background-color: white;
    padding: 20%;
    color: black;
}