body {
    background-color: rgb(125, 222, 222);
    align-items: center;
    text-align: center;
}

.app {
    background-color: aliceblue;
    border-radius: 8rem;
    width: 75rem;
    height: 15rem;
}

.people {
    background-color: azure;
    
}