body{
    background-color: rgb(228, 208, 233);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
h1{
    background: rgb(232, 95, 102);
    border: solid 2px;
    
}

#selectData{
    width: 100px;
}

.app {
    color:bisque;
    text-shadow: none;
    width: 500px;
    height: 300px;
    background:whitesmoke;
    bottom: 200px;
    margin: 0%;
}